@mixin button-style
  // max-width: 72px
  // overflow: hidden
  height: auto
  padding: 15px 30px
  color: #d4d4d4
  font-family: Helvetica, sans-serif
  font-size: 1rem
  font-weight: normal
  text-align: center
  -webkit-box-shadow: inset 0 0 2px rgb(122, 122, 122)
  -moz-box-shadow: inset 0 0 2px rgb(122, 122, 122)
  box-shadow: inset 0 0 2px rgb(122, 122, 122)
  &:active
    opacity: 0.5
*
  margin: 0
  padding: 0
  .calculator-container
    overflow: hidden
    max-width: 286px   
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    margin: auto
    .calculator
      // overflow: hidden
      // max-width: 286px
      .display-panel
        @include button-style
        overflow: hidden
        max-width: 224px
        background-color: #0d2130
        text-align: right
        font-size: 2rem
        transition: 0.5
        color: white
      .blueBtn
        @include button-style
        background-color: #2987db
      .numberBtn
        @include button-style
        background-color: #636464
      .operatorBtn
        @include button-style
        background-color: #dbb322
        color: #e2e2e2
      .redBtn
        @include button-style
        background-color: #ef4e44
        color: #e2e2e2
